themes/ethereal/templates/index.html
<!DOCTYPE html>
<!--Ethereal by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)-->

<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="themes/ethereal/css/main.css"><noscript><link rel="stylesheet" href="themes/ethereal/css/noscript.css"></noscript></head>
<!-- Page Wrapper-->
<div id="page-wrapper">
    <!-- Wrapper-->
    <div id="wrapper">
        <!-- Panel (Banner)-->
        <section class="panel banner right">
            <div class="content color0 span-3-75">
                <h1 class="major">Hello, my name<br>&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;is trudy</h1>
                <p>Hello and welcome<strong>I am all about</strong>,Travel <a href="https://html5up.net">Shoping</a>. Lifestyle and everything in between :)</p>
                <ul class="actions">
                    <li><a class="button primary color1 circle icon solid fa-angle-right" href="#first">Next</a></li>
                </ul>
            </div>
            <div class="image filtered span-1-75" data-position="25% 25%"><img src="images/pic01.jpg" alt=""></div>
        </section>
        <!-- Panel (Spotlight)-->
        <section class="panel spotlight medium right" id="first">
            <div class="content span-7">
                <h2>About Trudy</h2>
                <p>Born in Kenya. i love life and passionate about Africa. I am visiting all African countries to show how beautiful Africa is, i hope to change how the world sees my Motherland.</p>
            
            <ul class="icons">
                        <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                        <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                        <li><a class="icon brands fa-github" href="#"><span class="label">GitHub</span></a></li>
                        <li><a class="icon brands fa-medium-m" href="#"><span class="label">Medium</span></a></li>
                    </ul>
            
            </div>
            
             
            
            <div class="image filtered tinted" data-position="top left"><img src="images/pic02.jpg" alt=""></div>
        </section>
        <!-- Panel-->
        <section class="panel color1">
            <div class="intro joined">
                <h2 class="major">Africa to the world tour</h2>
                <p> Do you have a business in Africa? Are you a scientist, cosmologist, Doctor living and or working on the continent? do you love miss trudy and want to help her change the narrative, or just a geeky dude? id love to meet you.</p>
            </div>
            <div class="inner">
                <ul class="grid-icons three connected">
                    <li><span class="icon fa-gem"><span class="label">Lorem</span></span>
                    </li>
                    <li><span class="icon solid fa-camera-retro"><span class="label">Ipsum</span></span>
                    </li>
                    <li><span class="icon solid fa-cog"><span class="label">Dolor</span></span>
                    </li>
                    <li><span class="icon solid fa-paper-plane"><span class="label">Sit</span></span>
                    </li>
                    <li><span class="icon solid fa-chart-bar"><span class="label">Amet</span></span>
                    </li>
                    <li><span class="icon solid fa-code"><span class="label">Nullam</span></span>
                    </li>
                </ul>
            </div>
        </section>
        <!-- Panel (Spotlight)-->
        <section class="panel spotlight large left">
            <div class="content span-5">
                <h2 class="major">Trumedia</h2>
                <p>This is a platrorm to intergrate Africa from a business persprctive. We explore different ideas that can change the continent and improve life for all sign up for updates</p>
            </div>
            <div class="image filtered tinted" data-position="top right"><img src="images/pic03.jpg" alt=""></div>
        </section>
        <!-- Panel-->
        <section class="panel">
            <div class="intro color2">
                <h2 class="major">Favourite brands</h2>
                <p>I share with you my favourite brands as i travel accross the continent. Everything from hair products dishes and delicacies etc</p>
            </div>
            <div class="gallery">
                <div class="group span-3"><a class="image filtered span-3" href="images/gallery/fulls/01.jpg" data-position="bottom"><img src="images/gallery/thumbs/01.jpg" alt=""></a><a class="image filtered span-1-5" href="images/gallery/fulls/02.jpg" data-position="center"><img src="images/gallery/thumbs/02.jpg" alt=""></a>
                    <a
                        class="image filtered span-1-5" href="images/gallery/fulls/03.jpg" data-position="bottom"><img src="images/gallery/thumbs/03.jpg" alt=""></a>
                </div><a class="image filtered span-2-5" href="images/gallery/fulls/04.jpg" data-position="top"><img src="images/gallery/thumbs/04.jpg" alt=""></a>
                <div class="group span-4-5"><a class="image filtered span-3" href="images/gallery/fulls/05.jpg" data-position="top"><img src="images/gallery/thumbs/05.jpg" alt=""></a><a class="image filtered span-1-5" href="images/gallery/fulls/06.jpg" data-position="center"><img src="images/gallery/thumbs/06.jpg" alt=""></a>
                    <a
                        class="image filtered span-1-5" href="images/gallery/fulls/07.jpg" data-position="bottom"><img src="images/gallery/thumbs/07.jpg" alt=""></a><a class="image filtered span-3" href="images/gallery/fulls/08.jpg" data-position="top"><img src="images/gallery/thumbs/08.jpg" alt=""></a></div><a class="image filtered span-2-5"
                    href="images/gallery/fulls/09.jpg" data-position="right"><img src="images/gallery/thumbs/09.jpg" alt=""></a></div>
        </section>
        <!-- Panel-->
        <section class="panel color4-alt">
            <div class="intro color4">
                <h2 class="major">Contact</h2>
                <p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
            </div>
            <div class="inner columns divided">
                <div class="span-3-25">
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half"><label for="name">Name</label><input id="name" type="text" name="name"></div>
                            <div class="field half"><label for="email">Email</label><input id="email" type="email" name="email"></div>
                            <div class="field"><label for="message">Message</label><textarea id="message" name="message" rows="4"></textarea></div>
                        </div>
                        <ul class="actions">
                            <li><input class="button primary" type="submit" value="Send Message"></li>
                        </ul>
                    </form>
                </div>
                <div class="span-1-5">
                    <ul class="contact-icons color1">
                        <li class="icon brands fa-twitter"><a href="#">@untitled-tld</a></li>
                        <li class="icon brands fa-facebook-f"><a href="#">facebook.com/untitled</a></li>
                        <li class="icon brands fa-snapchat-ghost"><a href="#">@untitled-tld</a></li>
                        <li class="icon brands fa-instagram"><a href="#">@untitled-tld</a></li>
                        <li class="icon brands fa-medium-m"><a href="#">medium.com/untitled</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Panel-->
        <section class="panel color2-alt">
            <div class="intro color2">
                <h2 class="major">Elements</h2>
                <p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
            </div>
            <div class="inner columns aligned">
                <div class="span-2-75">
                    <h3 class="major">Text</h3>
                    <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>. &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;This is <sup>superscript</sup> text and this is <sub>subscript</sub>                        text. &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
                    <h1>Heading Level 1</h1>
                    <h2>Heading Level 2</h2>
                    <h3>Heading Level 3</h3>
                    <h4>Heading Level 4</h4>
                    <h5>Heading Level 5</h5>
                    <h6>Heading Level 6</h6>
                </div>
                <div class="span-3">
                    <h4>Blockquote</h4>
                    <blockquote>Lorem ipsum dolor sit amet. Felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in vestibulum. Blandit adipiscing eu iaculis volutpat ac adipiscing volutpat ac adipiscing faucibus.</blockquote>
                    <h4>Preformatted</h4>
                    <pre></pre>
                </div>
                <div class="span-1-25">
                    <h3 class="major">Lists</h3>
                    <h4>Unordered</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Dolor pulvinar etiam.</li>
                        <li>Etiam vel felis viverra.</li>
                    </ul>
                    <h4>Alternate</h4>
                    <ul class="alt">
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Dolor pulvinar etiam.</li>
                        <li>Etiam vel felis viverra.</li>
                        <li>Felis enim feugiat.</li>
                    </ul>
                </div>
                <div class="span-1-5">
                    <h4>Ordered</h4>
                    <ol>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Dolor pulvinar etiam.</li>
                        <li>Etiam vel felis viverra.</li>
                        <li>Felis enim feugiat.</li>
                        <li>Etiam vel felis lorem.</li>
                    </ol>
                    <h4>Actions</h4>
                    <ul class="actions">
                        <li><a class="button primary color2" href="#">Default</a></li>
                        <li><a class="button" href="#">Default</a></li>
                    </ul>
                    <ul class="actions stacked">
                        <li><a class="button primary color2" href="#">Default</a></li>
                        <li><a class="button" href="#">Default</a></li>
                    </ul>
                </div>
                <div class="span-1-25">
                    <h4>Icons</h4>
                    <ul class="icons">
                        <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a></li>
                        <li><a class="icon brands fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
                        <li><a class="icon brands fa-instagram" href="#"><span class="label">Instagram</span></a></li>
                        <li><a class="icon brands fa-github" href="#"><span class="label">GitHub</span></a></li>
                        <li><a class="icon brands fa-medium-m" href="#"><span class="label">Medium</span></a></li>
                    </ul>
                    <h4>Contact Icons</h4>
                    <ul class="contact-icons color2">
                        <li class="icon brands fa-twitter"><a href="#">Twitter</a></li>
                        <li class="icon brands fa-facebook-f"><a href="#">Facebook</a></li>
                        <li class="icon brands fa-instagram"><a href="#">Instagram</a></li>
                        <li class="icon brands fa-github"><a href="#">GitHub</a></li>
                        <li class="icon brands fa-medium-m"><a href="#">Medium</a></li>
                    </ul>
                </div>
                <div class="span-3">
                    <h3 class="major">Table</h3>
                    <h4>Default</h4>
                    <div class="table-wrapper">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Item One</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>19.99</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                    <td> Morbi faucibus arcu accumsan lorem.</td>
                                    <td>29.99</td>
                                </tr>
                                <tr>
                                    <td>Item Four</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>19.99</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>100.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="span-3">
                    <h4>Alternate</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Item One</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                </tr>
                                <tr>
                                    <td>Item Two</td>
                                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                                    <td>19.99</td>
                                </tr>
                                <tr>
                                    <td>Item Three</td>
                                    <td> Morbi faucibus arcu accumsan lorem.</td>
                                    <td>29.99</td>
                                </tr>
                                <tr>
                                    <td>Item Four</td>
                                    <td>Vitae integer tempus condimentum.</td>
                                    <td>19.99</td>
                                </tr>
                                <tr>
                                    <td>Item Five</td>
                                    <td>Ante turpis integer aliquet porttitor.</td>
                                    <td>29.99</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2"></td>
                                    <td>100.00</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="span-2-25">
                    <h3 class="major">Buttons</h3>
                    <ul class="actions">
                        <li><a class="button primary color2" href="#">Primary</a></li>
                        <li><a class="button" href="#">Default</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a class="button" href="#">Default</a></li>
                        <li><a class="button large" href="#">Large</a></li>
                        <li><a class="button small" href="#">Small</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a class="button primary color2 icon solid fa-cog" href="#">Icon</a></li>
                        <li><a class="button icon fa-gem" href="#">Icon</a></li>
                    </ul>
                    <ul class="actions">
                        <li><span class="button primary color2 disabled">Disabled</span></li>
                        <li><span class="button disabled">Disabled</span></li>
                    </ul>
                    <ul class="actions">
                        <li><a class="button primary color2 circle icon solid fa-cog" href="#">Icon</a></li>
                        <li><a class="button circle icon fa-gem" href="#">Icon</a></li>
                    </ul>
                </div>
                <div class="span-4-5">
                    <h3 class="major">Form</h3>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field third"><label for="demo-name">Name</label><input id="demo-name" type="text" name="demo-name" value="" placeholder="Jane Doe"></div>
                            <div class="field third"><label for="demo-email">Email</label><input id="demo-email" type="email" name="demo-email" value="" placeholder="jane@untitled.tld"></div>
                            <div class="field third"><label for="demo-category">Category</label>
                                <div class="select-wrapper"><select id="demo-category" name="demo-category"><option value="">-</option><option value="1">Manufacturing</option><option value="1">Shipping</option><option value="1">Administration</option><option value="1">Human Resources</option></select></div>
                            </div>
                            <div class="field quarter"><input class="color2" id="demo-priority-low" type="radio" name="demo-priority" checked=""><label for="demo-priority-low">Low Priority</label></div>
                            <div class="field quarter"><input class="color2" id="demo-priority-high" type="radio" name="demo-priority"><label for="demo-priority-high">High Priority</label></div>
                            <div class="field quarter"><input class="color2" id="demo-copy" type="checkbox" name="demo-copy"><label for="demo-copy">Email a copy</label></div>
                            <div class="field quarter"><input class="color2" id="demo-human" type="checkbox" name="demo-human" checked=""><label for="demo-human">Not a robot</label></div>
                            <div class="field"><label for="demo-message">Message</label><textarea id="demo-message" name="demo-message" placeholder="Enter your message" rows="2"></textarea></div>
                        </div>
                        <ul class="actions">
                            <li><input class="primary color2" type="submit" value="Send Message"></li>
                            <li><input type="reset" value="Reset"></li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
        <!-- Copyright-->
        <div class="copyright">&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</div>
    </div>
</div>
<!-- Scripts-->
<script src="themes/ethereal/js/jquery.min.js"></script>
<script src="themes/ethereal/js/browser.min.js"></script>
<script src="themes/ethereal/js/breakpoints.min.js"></script>
<script src="themes/ethereal/js/main.js"></script>

themes/ethereal/templates/index.pug
doctype html
//
  Ethereal by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
head
  title  #{name}
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  link(rel='stylesheet' href='themes/ethereal/css/main.css')
  noscript
    link(rel='stylesheet' href='themes/ethereal/css/noscript.css')
  for store in stores
     link(rel='prefetch', href="/bits/index-"+store.id+".html")
  script(src='bitsAssets/js/storeManager.js')
  script(src='bitsAssets/js/connect.js')
// Page Wrapper
#page-wrapper
  // Wrapper
  #wrapper
    // Panel (Banner)
    section.panel.banner.right
      .content.color0.span-3-75
        h1.major
          |  #{name}
        p
          | Hello and welcome
          strong I am all about
          | Travel 
          a(href='https://trumediafrica.myshopify.com') Shopping
          | , Lifestyle and everything in between :)
        ul.actions
          li
          
          
            a.button.primary.color1.circle.icon.solid.fa-angle-right(href='#first') Next
      .image.filtered.span-1-75(data-position='25% 25%')
        img(src=cover alt='')
    // Panel (Spotlight)
    section#first.panel.spotlight.medium.right
      .content.span-7
        h2 About Trudy
        p
          | Born in Kenya. i love life and passionate about Africa. I love telling storeis and have helped individuals and brands tell thair stories for a long time, now its time your your story, so dont hesitate to get in touch.
        ul.icons
          li
            a.icon.brands.fa-twitter(href='https://twitter.com/misstrudy_')
              span.label Twitter
          li
            a.icon.brands.fa-facebook-f(href='https://facebook.com/misstrudy254')
              span.label Facebook
          li
            a.icon.brands.fa-instagram(href='https://www.instagram.com/mistrudy')
              span.label Instagram
          li
            a.icon.brands.fa-github(href='#')
              span.label GitHub
          li
            a.icon.brands.fa-medium-m(href='https://medium.com/@trumedia.africa')
              span.label Medium
      .image.filtered.tinted(data-position='top left')
        img(src='images/pic02.jpg' alt='')
    // Panel
    section.panel.color1
      .intro.joined
        h2.major Africa to the World!
        p
          | do you have a story to tell? we would like to help you tell it! with a global audience reaching over 60 countries an 100,000k viewers. find your favourite channels below with more coming soon..
      .inner
        ul.grid-icons.three.connected
          for imgLst in entSettings.entImageList
            li
              a.text-decoration-none(href=imgLst.link)
                img(src=imgLst.icon style='width: 80px;border-radius: 80px; margin: 10px 20px;')
                p(style='text-align: center;font-weight: bold;') #{imgLst.title}
    // Panel (Spotlight)
    section.panel.spotlight.large.left
      .content.span-5
        h2.major Trumedia
        p
          | This is a platorm to intergrate Africa from a business perspective. We explore different ideas that can change the continent and improve life for all sign up for updates
      .image.filtered.tinted(data-position='top right')
        img(src='images/pic03.jpg' alt='')
    // Panel
    section.panel
      .intro.color2
        h2.major Brand affiliation & exposure
        p
          | #{stores.length}   Discover our Brand Affiliation programe in which a business can grow and boost Brand exposure, i also share everything i like from across the continent,  from body care products, dishes and delicacies and so much more 
          
          a(href='https://docs.google.com/forms/d/e/1FAIpQLSd7QLDBnDWPjIz3hdR0RqteXHOz3uchTJe5-zD3LnkIcmJyYw/viewform') Signup
      .gallery
        if stores.length == 1
            a.image.filtered.span-2-5(href='/bits/index-'+stores[0].id+'.html' data-position='top')
              img(src=stores[0].banner alt=stores[0].banner)
        else if stores.length == 2
            .group.span-3
              a.image.filtered.span-3(href='/bits/index-'+stores[0].id+'.html' data-position='bottom')
                img(src=stores[0].banner alt=stores[0].banner)
              a.image.filtered.span-3(href='/bits/index-'+stores[1].id+'.html' data-position='bottom')
                img(src=stores[1].banner alt=stores[1].banner)
        else if stores.length == 3
            .group.span-3
              a.image.filtered.span-3(href='/bits/index-'+stores[0].id+'.html' data-position='bottom')
                img(src=stores[0].banner alt=stores[0].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[1].id+'.html' data-position='center')
                img(src=stores[1].banner alt=stores[1].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[2].id+'.html' data-position='bottom')
                img(src=stores[2].banner alt=stores[2].banner)
        else if stores.length == 4
            .group.span-3
              a.image.filtered.span-3(href='/bits/index-'+stores[0].id+'.html' data-position='bottom')
                img(src=stores[0].banner alt=stores[0].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[1].id+'.html' data-position='center')
                img(src=stores[1].banner alt=stores[1].banner)
              a.image.filtered.span-1-5(href='/bits/index-'+stores[2].id+'.html' data-position='bottom')
                img(src=stores[2].banner alt=stores[2].banner)
              a.image.filtered.span-2-5(href='/bits/index-'+stores[3].id+'.html' data-position='top')
                img(src=stores[3].banner alt=stores[3].banner)
    // Panel
    section.panel.color4-alt
      .intro.color4
        h2.major Contact
        p
          | do you have ideas to share? are you a creative business or just looking for an opportunity to tell your story? dont hesitate to get in touch.
      .inner.columns.divided
        .span-3-25
          form(method='post' action='#')
            .fields
              .field.half
                label(for='name') Name
                input#name(type='text' name='name')
              .field.half
                label(for='email') Email
                input#email(type='email' name='email')
              .field
                label(for='message') Message
                textarea#message(name='message' rows='4')
            ul.actions
              li
                input.button.primary(type='submit' value='Send Message')
        .span-1-5
          ul.contact-icons.color1
            li.icon.brands.fa-twitter
              a(href='https://twitter.com/misstrudy_') Twitter
            li.icon.brands.fa-facebook-f
              a(href='https://facebook.com/misstrudy254') Facebook
            li.icon.brands.fa-snapchat-ghost
              a(href='#') Snapchat
            li.icon.brands.fa-instagram
              a(href='https://www.instagram.com/mistrudy') Instagram
            li.icon.brands.fa-medium-m
              a(href='https://medium.com/@trumedia.africa') Medium
    // Copyright
    .copyright
      | &copy; Untitled. Design: 
      a(href='') Bitsoko
      | .
// Scripts

script(src='themes/ethereal/js/jquery.min.js')
script(src='themes/ethereal/js/browser.min.js')
script(src='themes/ethereal/js/breakpoints.min.js')
script(src='themes/ethereal/js/main.js')
