themes/hidenseek/templates/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gallery</title>

    <!-- Lato Font -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- Stylesheet -->
    <link href="css/gallery-materialize.min.css" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <style>
 
nav .nav-header .tagline {
    margin: 0px 0 0px 0!important;
    line-height: 30px!important;
}
</style>

  </head>

  <body>

    <!-- Navbar and Header -->
    <nav class="nav-extended">
      <div class="nav-background">
        <div class="pattern active" style="background-image: url('http://placehold.it/1400x300');"></div>
      </div>
      <div class="nav-wrapper container">
        <a href="index.html" class="brand-logo"><i class="material-icons">whatshot</i>pataGas</a>
       
        <div class="nav-header center">
          <h1>Instant Energy</h1>
          <div class="tagline">your favourite cylinder and accesories delivered to your doorstep</div>
        </div>
      </div>

      <!-- Fixed Masonry Filters -->
      <div class="categories-wrapper purple lighten-1">
        <div class="categories-container">
          <ul class="categories container">
            <li class="active"><a href="#all">All</a></li>
            <li><a href="#refill">refill</a></li>
            <li><a href="#purchase">purchase</a></li>
            <li><a href="#accesories">accesories</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Gallery -->
    <div id="portfolio" class="section gray">
      <div class="container">
      <!-- g start -->
        <div class="gallery row">
          <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter refill">
            <div class="gallery-curve-wrapper">
              <a class="gallery-cover gray">
                <img class="responsive-img" src="http://placehold.it/350x300" alt="placeholder">
              </a>
              <div class="gallery-header">
                <span>Hexagon</span>
              </div>
              <div class="gallery-body">
                <div class="title-wrapper">
                  <h3>Hexagon</h3>
                  <span class="price">$10.99</span>
                </div>
                <p class="description">
Literally venmo before they sold out, DIY heirloom forage polaroid offal yr pop-up selfies health goth. Typewriter scenester hammock truffaut meditation, squid before they sold out polaroid portland tousled taxidermy vice. Listicle butcher thundercats, taxidermy pitchfork next level roof party crucifix narwhal kinfolk you probably haven't heard of them portland small batch.</p>
                <p class="description">
Ea salvia adipisicing vegan man bun. Flexitarian cupidatat skateboard flannel. Drinking vinegar marfa you probably haven't heard of them consequat post-ironic, shabby chic williamsburg raclette vaporware readymade selfies brunch. Venmo selvage biodiesel marfa. Tbh literally 3 wolf moon, proident elit raclette chambray consequat edison bulb four loko accusamus. Semiotics godard eiusmod, ex esse air plant quinoa vaporware selfies keytar. Actually yuccie ennui flannel single-origin coffee, williamsburg cardigan banjo forage pug distillery tumblr hexagon vinyl occaecat.</p>

                <div class="carousel-wrapper">
                  <div class="carousel">
                    <a class="carousel-item" href="#one!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#two!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#three!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#four!"><img src="http://placehold.it/300x200"></a>
                    <a class="carousel-item" href="#five!"><img src="http://placehold.it/300x200"></a>
                  </div>
                </div>
              </div>
              <div class="gallery-action">
                <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
              </div>
            </div>
          </div>

        </div>
<!-- g end -->
      </div>

    </div><!-- /.container -->


    <!-- Core Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/materialize/0.98.0/js/materialize.min.js"></script>
    <script src="js/color-thief.min.js"></script>
    <script src="js/galleryExpand.js"></script>
    <script src="js/init.js"></script>

  </body>
</html>

themes/hidenseek/templates/index.pug
doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(name='description' content=tagline)
  meta(name='author' content='')
  title #{name}
  // Lato Font
  link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
  // Stylesheet
  link(href='themes/hidenseek/css/gallery-materialize.min.css' rel='stylesheet')
  // Material Icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='prefetch', href='/soko/')
  link(rel='prefetch', href='/tm/?cid='+entContract)
  for store in stores
     link(rel='prefetch', href="/bits/index-"+store.id+".html")
  script(src='bitsAssets/js/storeManager.js')
  script(src='bitsAssets/js/connect.js')

    
  style.
    nav .nav-header .tagline {
    margin: 0px 0 0px 0!important;
    line-height: 30px!important;
    }
// Navbar and Header
nav.nav-extended(style='background-color: #a4a4a4 !important;')
  .nav-background(style='background-color: #a4a4a4 !important;')
    //.pattern.active(style="background-image: url('http://placehold.it/1400x300');")
    .pattern.active(style="background-image: url('"+cover+"');background-repeat: no-repeat;background-size: cover;background-position: right")
  .nav-wrapper.container
    a.brand-logo(href='index.html')
      i.material-icons wifi
    .nav-header.center
      h1 #{name}
      .tagline #{tagline}
      p(id='uiddom') 
      a(id='freewifi')
        button(style='display:none;padding:10px;line-height:10px;color:#656565;') FREE WIFI!
  // Fixed Masonry Filters
  .categories-wrapper(style='background-color: #656565 !important;')
    .categories-container
         
      ul.categories.container
       li.active
         a(href='#all') all
         //a(href='#all') all
       for category in productCat
        li
          a(href='#'+category.name) #{category.name}
        
// Gallery
#portfolio.section.gray
  .container
    // g start
    img(src=cover style='height:auto;width:100%;')
    //iframe(data-aa='1300337' src='//acceptable.a-ads.com/1300337' scrolling='no' style='border:0px; padding:0; width: 100%; height: 100%; overflow:hidden' allowtransparency='true')
    .gallery.row
     for category in productCat
      for shopCat in category.servList
       //.col.l4.m6.s12.gallery-item.gallery-expand.gallery-filter.#{category.name}
       div(class='col l4 m6 s12 gallery-item gallery-filter '+category.name)
         .gallery-curve-wrapper
           a.gallery-coverr.gray(href='./bits/index-'+shopCat.id+'.html')
             img.responsive-img(src=shopCat.banner alt=shopCat.name)
           .gallery-header
             span #{shopCat.name}
    // g end
// /.container
// Core Javascript
script.
    try{
    var button = document.querySelector('#freewifi');
    var uiddom = document.querySelector('#uiddom');
    var UID = location.search.substr(5);
    //uiddom.innerHTML = UID;
    button.setAttribute("href", "http://login.dooca.net/login?username=T-"+UID);
    }catch(e){console.log('wifi connectivity not available')}
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
script(src='themes/hidenseek/js/imagesloaded.pkgd.min.js')
script(src='themes/hidenseek/js/masonry.pkgd.min.js')
script(src='https://cdn.jsdelivr.net/materialize/0.98.0/js/materialize.min.js')
script(src='themes/hidenseek/js/color-thief.min.js')
script(src='themes/hidenseek/js/galleryExpand.js')
script(src='themes/hidenseek/js/init.js')
